	<script type="text/javascript" src="/vendors/jquery/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<!-- TODO: Для простоты и скорости -->
	<script type="text/javascript" src="/vendors/angular/js/angular.min.js"></script>
	<script type="text/javascript" src="/resources/js/cabinetCtrl.js"></script>
	</body>
</html>