<%-partial('partials/header')%>

<div class="container" ng-controller="cabinetCtrl">
	<div class="row">
		<div class="header-form text-center">
			<h2> <strong> Cabinet</strong>  </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3> <span class="cabinet-title"> User data: </span> </h3>
				<table width="100%">
					<tr width="50%">
						<td> <strong>Email:</strong> </td>
						<td> <%=user_email %> </td>
					</tr>
					<tr>
						<td> <strong>Date registration: </strong> </td>
						<td> <%=user_date %> </td>
					</tr>
				</table>
		</div>
		<div class="col-md-4">
			<h3> <span class="cabinet-title"> List modules: </span> </h3>
			<ul>
				<li ng-repeat="item in modulesList">
					<span>{{ item.name }}</span>
					<span><button class="btn btn-danger" ng-click="removeItem(item)">del</button></span>
						<span><button class="btn btn-success" ng-click="editItem(item)">edit</button></span>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3> <span class="cabinet-title"> Create module: </span> </h3>
			<form method="post">
				<div class="form-group">
					<label for="city"> Name: </label>
					<input type="text" name="name" id="name" class="form-control" ng-model="createModuleName" ng-change="onChangeCreateModuleName()" required>
				</div>
				<div class="form-group">
					<label for="city"> City: </label>
					<select class="selectpicker" name="city" id="city" ng-model="createModuleCity" ng-change="onChangeCreateModuleCity()">
						<option>Moscow</option>
						<option>St. Petersburg</option>
						<option>Nizhny Novgorod</option>
					</select>
				</div>

				<div class="form-group">
					<label for="days"> Days: </label>
					<select class="selectpicker" name="days" id="days" ng-model="createModuleDay" ng-change="onChangeCreateModuleDay()">
						<option>1 day</option>
						<option>3 days</option>
						<option>5 days</option>
					</select>
				</div>

				<div class="form-group">
					<label for="orientation"> Block orientation: </label>
					<select class="selectpicker" name="orientation" id="orientation" ng-model="createModuleOrientation" ng-change="onChangecreateModuleOrientation()">
						<option>Vertical</option>
						<option>Horizontal</option>
					</select>
				</div>
				<div class="form-group" ng-if="showCodeContainer">
					<label for="code"> Code module: </label>
					<div class="form-inline">
						<textarea class="form-control" id="codeModuleEdit" class="inline-form" ng-model="createModuleCode"></textarea>
					</div>
				</div>
				<button type="button" class="btn btn-default" ng-click="createNew()"> Create </button>
			</form>
		</div>
	</div>
	<div class="row" ng-hide="!showEditModuleContainer">
		<div class="col-md-12">
			<h3> <span class="cabinet-title"> Edit module {{ editModuleName }}: </span> </h3>
			<form method="post">
				<div class="form-group">
					<label for="city"> Name: </label>
					<input type="text" class="form-control" ng-model="editModuleName" ng-change="onChangeModuleName()">
				</div>
				<div class="form-group">	
					<label for="city"> City: </label>
					<select class="selectpicker" name="city" id="city" ng-model="editModuleCity" ng-model="editModuleCity" ng-change="onChangeEditModule()">
						<option>Moscow</option>
						<option>St. Petersburg</option>
						<option>Nizhny Novgorod</option>
					</select>
				</div>

				<div class="form-group">
					<label for="days"> Days: </label>
					<select class="selectpicker" name="days" id="days" ng-model="editModuleDay" ng-change="onChangeEditModule()">
						<option>1 day</option>
						<option>3 days</option>
						<option>5 days</option>
					</select>
				</div>

				<div class="form-group">
					<label for="rientation"> Block orientation: </label>
					<select class="selectpicker" name="orientation" id="orientation" ng-model="editModuleOrientation" ng-change="onChangeEditModule()">
						<option>Vertical</option>
						<option>Horizontal</option>
					</select>
				</div>
				<div class="form-group">
					<label for="code"> Code module: </label>
					<div class="form-inline">
						<textarea class="form-control" id="codeModuleEdit" class="inline-form" ng-model="editModuleCode"></textarea>
					</div>
				</div>
				<button type="button" class="btn btn-default" ng-click="saveEditItem()"> Create </button>
			</form>
		</div>
	</div>
	<hr>
	<h4>TEST IN localhost. Page for test test.ejs -> request localhost:3000/test</h4>
	<h4>Я не использовал агрегигацию данных в redis, так как я сделал напримую запрос, это рациональней, по моему мнению </h4>
</div>

<%-partial('partials/footer')%>