<%-partial('partials/header')%>

<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="register-form">
			<div class="header-form text-center">
				<h2> <strong>Log in</strong> </h2>
			</div>
			<form method="post" action="/login">
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
				</div>
				<button type="submit" class="btn btn-default"> Login </button>
				<a href="/signup" class="btn btn-link">Registr</a>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>

<%-partial('partials/footer')%>