<%-partial('partials/header')%>

<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="register-form">
			<div class="header-form text-center">
				<h2> <strong>Sign up</strong> </h2>
			</div>
			<% if (message) { %>
				<div class="label label-danger">
					<%=message %>
				</div>
			<% } %>
			<form method="post" action="/signup">
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
				</div>
				<button type="submit" class="btn btn-default"> Submit </button>
				<a href="/login" class="btn btn-link">Login</a>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>

<%-partial('partials/footer')%>