<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>
<body>
	<!-- Виджет --><iframe id="weather-widget" src="http://localhost:3000/resources/html/vertical_1.html#294199" frameborder="0" scrolling="no" width="1350" height="800"></iframe><!-- / Виджет -->
</body>
</html>